@{
    ViewData["Title"] = "Home Page";
}

<div class="bitch">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            TARpe21 Contoso University
        </p>
    </div>

    <div class="col-md-4">
        <h2>Drizzy</h2>
        <p>
            Selja valu tootja.
        </p>
        <img src="~/img/drizzy.jpg" alt="back breaker">

    </div>
</div>
